:root {
  --iceCold: #a0d2eb;
  --freezePurple-bg: #e5eaf5;
  --mediumPurple: #d0bdf4;
  --purplePain-botton: #8458B3;
  --heavyPurple-h1: #494d5f;
}

* {
  font-family: Tahoma;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--freezePurple-bg);
}


.NavBar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  font-size: large;
  box-shadow: 0px 2px 10px var(--iceCold);
  position: relative;
}


.NavBar ul {
  display: flex;
  align-items: center;
  direction: rtl;
}

.NavBar ul li {
  text-decoration: none;
  list-style: none;
  margin: 0 5px 0 5px;
  padding: 25px 0;
  user-select: none;
}



.NavBar ul li a {
  border: none;
  border-radius: 20px;
  padding: 20px;
  text-decoration: none;
  color: black;
}




/* *slide bar */

.slidebar {
  height: 100vh;
  margin-bottom: 50px;
  display: flex;
  gap: calc(100vw - 80vw);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contents {
  margin-left: 10vw;
  font-size: 1.5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  direction: rtl;
}

.contents h1 {
  width: 400px;
}

.contents h4 {
  overflow-wrap: break-word;
}

.slidebar img {
  width: 35vw;
}

.contents h1 {
  color: var(--heavyPurple-h1);
}

/* * Skills part */
.skills {
  height: 100vh;
  margin-bottom: 50px;
}

.container-skill {
  height: 100vh;
  display: flex;
  gap: 30%;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

.skills img {
  border-radius: 20px;
  width: 35vw;
  box-shadow: 0 5px 20px var(--heavyPurple-h1);
}



/* * ProgressBar(component) */
.progreses h4 {
  margin-bottom: 60px;
  margin-right: -20px;
}

.progressBarDiv {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  margin: 50px 0;
  width: 400px;
  height: 30px;
  background-color: var(--mediumPurple);
  border-radius: 10px;

}

.progress__fill {
  height: 100%;
  border-radius: 10px;
  background-color: var(--heavyPurple-h1);
}

.progress__text {
  position: absolute;
  color: black;
  left: 0;
  top: -30px;
  text-shadow: 0 2px 10px var(--heavyPurple-h1);
}

.progressBarDiv p {
  position: absolute;
  color: var(--freezePurple-bg);
}



/* //* project part */
.projects {
  height: 100vh;
  display: grid;
  margin-bottom: 50px;
}

.projects h3 {

  text-decoration: underline;
  text-underline-offset: 10px;
  height: min-content;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 50px;
}

.projectCards {
  margin-bottom: 100px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.projectCards div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 5px 10px black;
  margin: 25px;
}


.Card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.Card p {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  max-height: 100px;
  padding: 20px;
  direction: rtl;
}

.Card a {
  width: min-content;
  font-size: 15px;

  margin-bottom: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  color: var(--freezePurple-bg);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* * About-Part */
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-bg p {
  text-align: center;
  width: 20%;
}

.about-bg ul {
  padding: 0;
}

.about-bg ul li {
  display: inline-block;
  list-style: none;
  margin: 0 25px;
  margin-top: 100px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px black;
  border-radius: 10px;
}

.about-bg ul li img {
  width: 50px;
}

/* *Footer */
.Footer {
  height: 100px;
  box-shadow: 0 -5px 10px var(--iceCold);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* *PageNotFound Route */
.PageNotFound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* *About Us Route */
.about-us {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us h2 {
  margin-bottom: 50px;
}


.column-aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.card-aboutUs {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section-aboutUs {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container-aboutUs {
  padding: 0 16px;
}

.container-aboutUs::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title-aboutUs {
  color: grey;
}

.button-aboutUs {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  font-size: medium;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button-aboutUs:hover {
  background-color: #555;
}

.button-aboutUs a {
  text-decoration: none;
  color: white;

}

@media screen and (max-width: 650px) {
  .column-aboutUs {
    width: 100%;
    display: block;
  }
}

/* * Contact-Us  */

.contact-us {
  height: 100vh;
  direction: rtl;
  font-size: large;

}

/* Style inputs */
.column-contact-us form input[type=text],
.column-contact-us form select,
.column-contact-us form textarea {
  direction: rtl;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.column-contact-us form button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.column-contact-us form button:hover {
  background-color: #45a049;
}

.row-contact-us {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
}


/* Style the container/contact section */
.container-contact-us {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column-contact-us {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column-contact-us,
  .column-contact-us form button {
    width: 100%;
    margin-top: 0;
  }
}

.handleSubmit {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.handleSubmit button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: medium;

}

.handleSubmit button:hover {

  background-color: #45a049;

}